{% extends "liveviewbase.html" %}

{% block title %}Live View of Openflow @ Marist{% endblock %}
{% block add-css %}
<link rel="stylesheet" href="/static/css/liveview.css" type="text/css" />
{% endblock %}
{% block add-js %}
 <script src="/static/js/jquery1.7.js"></script>
 <script src="/static/js/liveview.js"></script>
{% endblock %}	
{% block hiddenvars %}
{% endblock %}
{% block jsvars %}
/*An old attemp on variabl passing (keepings for testing) */
/*var sw_info = {{ vars|safe }};*/

{% endblock %}

{% block content %}
<h1>LiveView</h1>
<h2>LiveView provides a live look into the OpenFlow network at Marist.</h2>
<div id="liveview">
	<div id="liveview_topology">
		<canvas id="of_topo" width="1000" height="100">
			<!--Inside the canvas will be rendered if browser does not support canvas-->
			<p>Browser does not support canvas!, Please view text description of topology</p>
		</canvas>
	</div>
	<h4>Textual View of the Network</h4>
	<div id="liveview_content">
		<div id="switch_count">
		</div>
		<div id="device_count">
		</div>
		<div id="notice"></div>
		<div id="liveview_switches">
		</div>
		<div id="manus"></div>
		 <table id="pktins_counts"><h4>Packet In Counts</h4></table>
		 <table id="pktouts_counts"><h4>Packet Out Counts </h4></table>
		 <table id="flowmod_counts"><h4>Flow Mod Counts</h4></table>
		<div id="liveview_links">
		</div>
	</div>
</div>
{% endblock %}