
#subscribe{
		  width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding:25px;
}


#visit{
 		  width: 300px;
        margin-left: auto;
        margin-right: auto;
		  padding: 25px;
}